.hero__subtitle img{
    width: 2.3rem;
    height: 2.3rem;
}

.hero__content h1{
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
}

.hero__content h1 .highlight{
    color: var(--secondary-color);
}

.hero__content p{
    font-size: 0.9rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero__img-box img, .hero__img-box video{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
}

.hero__content{
    padding-top: 3.5rem;
}

.hero__img-box{
    padding-top: 2rem;
}

.services__subtitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ee6e6e;
}

.services__title{
    font-size: 2rem;
    font-weight: 500;
}